{
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error", { "singleQuote": true, "semi": false }],
    "no-unused-vars": "warn",
    "no-undef": "error"
  },
  "env": {
    "node": true,
    "es6": true
  },
  "extends": ["prettier"]
}
